{
	"version" : "2017-02-28",
    "operation": "UpdateItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.id)
    },
    "update": {
    	"expression" : "#if(($context.arguments.input.toAdd))ADD subscribedTags :toAdd#end #if(($context.arguments.input.toDelete))DELETE subscribedTags :toDelete#{end}",
        "expressionValues": {
            #if(($context.arguments.input.toAdd))
            ":toAdd":$util.dynamodb.toStringSetJson($ctx.args.input.toAdd)
            #end
            #if(($context.arguments.input.toDelete))
            ":toDelete":$util.dynamodb.toStringSetJson($ctx.args.input.toDelete)
            #{end}
        }
    }
}