<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52341741340-goka7j5ci6t3hm2oti7g33262500su89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52341741340-goka7j5ci6t3hm2oti7g33262500su89</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52341741340-8vnfbumvinaob35oje0hn6k7u9v8mnqo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKvSlSw2kWPEWh5VQ-VWkLVSl37CaKb2s</string>
	<key>GCM_SENDER_ID</key>
	<string>52341741340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rarira.yogiyogitest</string>
	<key>PROJECT_ID</key>
	<string>yogiyogi-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>yogiyogi-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52341741340:ios:3cd163009c080cf3ab8cd9</string>
	<key>DATABASE_URL</key>
	<string>https://yogiyogi-dev.firebaseio.com</string>
</dict>
</plist>